
<div class="my-container mx-auto" *ngIf="product">
  <div class="row g-0">

      <!-- Profile Image of Product -->
      <div class="col-4 p-4">
          <div class="d-flex justify-content-center align-items-center">
              <img src="../../../assets/images/{{product.imageName}}"
              alt="" class="w-100">"
          </div>
      </div>

      <!-- Details of Product -->
      <div class="col-8 p-4">
          <div class="card">
              <div class="card-header">
                  <h2>{{product.title | titlecase}}</h2>
              </div>

              <div class="card-body">
                  <h1 class="card-title text-success">

                  </h1>
                  <h3 class="fw-bold fs-5 text-success">
                     $ {{product.price}}
                  </h3>
              </div>
              <div class="card-body">

                <div class="quantity" >
                  <button (click)="minus()"  class="btn btn-outline-success">-</button>
                  <input disabled ng-model="item.Quantity" type="number" max="{{product.quantity}}" name="Quantity" value="{{Quantity}}"/>
                  <button class="btn btn-outline-success" (click)="plus()">+</button>
              </div>

              </div>
              <div class="card-body">
                  <h4 class="card-subtitle my-2 text-primary"> {{product.quantity}} products are available. </h4>
                  <div class="card-footer d-grid gap-2" *ngIf="product.quantity!==0">
                    <button type="button" class="btn btn-outline-success"  *ngIf="!fullName" routerLink="/login" >
                        Add to Cart

                    </button>
                    <button type="button"  *ngIf="fullName" (click)="addCart(product.productId,user.userId)" class="btn btn-outline-success"  >
                      Add to Cart

                  </button>
                </div>
                <div class="card-footer d-grid gap-2" *ngIf="product.quantity===0">
                  <button type="button" disabled class="btn btn-outline-danger"  *ngIf="!fullName" routerLink="/login" >
                      Out of Stoke!

                  </button>
                  <button type="button"  disabled *ngIf="fullName" class="btn btn-outline-danger"  >
                    Out of Stoke!

                </button>
              </div>
              </div>
              <div class="card-body">
                  <h5 class="card-text">Description</h5>
                  <ul class="list-group">
                      <li class="list-group-item list-group-item-action"
                          *ngFor="let item of product.description.split('. ')">
                          {{item}}
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

</div>
